<!DOCTYPE html>
<html>
<head>
  <title>OpenStax Swagger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "openstax/swagger/application", media: "all" %>
  <%= javascript_include_tag "openstax/swagger/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
